* {
    margin: 0;
}

.mbody {
    background-color: aliceblue;
}

.Hm {
    background: url(../committee_img/es.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 22rem 0 2rem;
    z-index: -2;
}

.quote {
    padding-left: 40px;
    font-size: 40px;
    color: white;
}

.Hm p {
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 30px;
    color: rgb(184, 184, 184);
}



.cont {
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 400px;
}

.title {
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid;
    width: 27%;

}

.brief {
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 10px;
}

.course_content {
    margin: 40px;
    line-height: 30px;
}

.subtitle {
    margin-bottom: 20px;
}

.intro {
    font-size: 18px;
}

.image {
    float: right;
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    margin-top: 30px;
}

.final {
    font-size: 20px;
}