* {
    margin: 0;
}

.mbody {
    background-color: aliceblue;
    overflow-x: hidden;
}

.Hm {
    background: url(../committee_img/es.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 22rem 0 2rem;
    box-shadow:  0 0 30px 20px #38485f; /* mark the inset */
    z-index: -2;
}

.quote {
    padding-left: 40px;
    font-size: 40px;
    color: rgb(0, 109, 233);
}

.Hm p {
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 30px;
    color: rgb(184, 184, 184);
}



.cont {
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 400px;
}

.title {
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid;
    width: 27%;

}

.brief {
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 10px;
}

.course_content {
    margin: 40px;
    line-height: 30px;
}

.subtitle {
    margin-bottom: 20px;
}

.intro {
    font-size: 18px;
}

.image1 {
    float: right;
    padding: 10px;
    margin-right: 40px;
    border-radius: 30px;
    width: 300px;
    margin-top: 30px;
    animation: anim1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes anim1 {
    from {
        margin-right: -1000px;
    }

    to {
        margin-right: 40px;
    }
}

.image2 {
    float: right;
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    margin-top: 30px;
    animation: anim2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes anim2 {
    from {
        margin-right: -1000px;
    }

    to {
        margin-right: 0px;
    }
}

.image3 {
    float: right;
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    animation: anim3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes anim3 {
    from {
        margin-right: -1000px;
    }

    to {
        margin-right: 0px;
    }
}

.final {
    font-size: 20px;
}