body {
    overflow-x: hidden;
}

.mainclass {
    position: relative;
    height: 100vh;
    background-image: url(../committee_img/flutter.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animation1 3s linear alternate  infinite;
    box-shadow: 0 0 10px 10px;
}
.mainclass::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 3, 62, 0.665);
}
    

.main-cyber {
    background-image: url(../committee_img/cyber.jpg);

}
@keyframes animation1 {
   
    0% {
        box-shadow: inset 0 0 0 1000px #371c8f66 ;
    }
    100% {
        box-shadow: inset 0 0 0 1000px #0c0c4d8f ;

    }
    
}

.container-main1 {
    height: 100%;
}

.text-main {
    position: absolute;
    z-index: 5;
}

.button1 {
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.button1 a {
    
    color: white;
}
.button1:hover {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(231, 231, 231);

}

.imgs-art img {
    width: 300px;
    border-radius: 50%;
    transition: 1s ease-in-out;
}
.imgs-cyber img {
    width: 230px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;}

.imgs-art img:hover {
    transform: rotate(15deg);
}
.imgs-cyber img:hover {
    transform: scale(1.05);
}

.artsec2 {
    background-color: #150158;
    line-height: 40px;
}

.imgs-art1 img {
    width: 500px !important;
    border-radius: 0% !important;
    transition: 0.5s ease-in-out !important;
}

.imgs-art1 img:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.art-list {
    list-style: circle;
}

.footer {
    margin-top: 0 !important;
    background-color: #0e1133;
}

canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}   

.cyber-art {
    position: relative;
    background-color: #2C1D7A !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgs-cyber {
 }
