/*=============== HEADER & NAV ===============*/

/* Only Navbar */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navnav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__dark {
    display: none;
}

.nav__link,
.nav__toggle {
    color: #fff;
    font-weight: var(--font-semibold);
}

.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav__toggle {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    cursor: pointer;
    display: none;
}

.nav__close {
    display: none;
}

/* Active link */
.active-link::before {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 39.62%;
    width: 5px;
    height: 5px;
    background-color: var(--body-color);
    border-radius: 50%;
}

/* Change background header */
.scroll-header {
    background-color: var(--container-color);
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

.scroll-header .logo__light {
    display: none;
}
.scroll-header .logo__dark {
    display: block;
}

.scroll-header .nav__link {
    color: var(--title-color);
}

.scroll-header .active-link::before {
    background-color: var(--title-color);
}

.scroll-header .nav__toggle {
    color: var(--title-color);
}


.msp-logo {
    width: 110px;
}

@media screen and (max-width:767px) {
    .navnav {
        height: var(--header-height);
    }
    .button__header {
        display: none;
    }
    .nav__toggle {
        display: block;
    }
    .nav__menu {
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        z-index: var(--z-fixed);
        border-radius: 0 0 .4rem .4rem;
        transition: .4s;
    }
    .nav__list {
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
    }
    .nav__close {
        display: block;
        font-size: 1.8rem;
        position: absolute;
        top: .5rem;
        right: .7rem;
        cursor: pointer;
    }
    .nav__link {
        color: var(--title-color);
    }
    .active-link::before {
        background-color: var(--title-color);
    }
    /* Show Menu  */
    .show-menu {
        top: 0;
    }
}