/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    --hue: 250;
    --first-color: hsl(var(--hue), 100%, 58%);
    --title-color: hsl(var(--hue), 8%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: #fff;
    --border-color: hsl(var(--hue), 8%, 80%);
    --container-color: hsl(var(--hue), 60%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Hind', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1140 px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 7rem 0 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: 0.25rem;
    line-height: 140%;
}

/*=============== HEADER & NAV ===============*/


/* Active link */


/* Change background header */


/*=============== HOME ===============*/


/*=============== BUTTONS ===============*/


/*=============== ABOUT ===============*/


/*=============== TEACHERS ===============*/


/*=============== BRANDS ===============*/


/*=============== COURSES ===============*/


/*=============== COURSES PAGE ===============*/


/*=============== COURSE DETAILS PAGE ===============*/


/*=============== CONTACT PAGE ===============*/


/*=============== FOOTER ===============*/
.footer {
    margin-top: 8rem;
    background-color: #0e1133;
}

.footer__container {
    grid-template-columns: repeat(4, fr);
    justify-items: center;
    column-gap: 1rem;
}

.footer__logo {
    margin-bottom: 1.25rem;

}

.footer__describtion {
    color: hsl(var(--hue), 8%, 75%);
    margin-bottom: 2.5rem;
}
.footer__social{
    display: flex;
    column-gap: 0.75rem;
}
.footer__social-link{
    display: inline-block;
    background-color: var(--container-color);
    width: 44px;
    line-height: 42px;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #fff;
    border: 2px solid;
    transition: 0.4s;
}
.footer__social-link:nth-child(1){
    background-color: #285da1;
    border-color: #285da1;
}
.footer__social-link:nth-child(2){
    background-color: #03a9f4;
    border-color: #03a9f4;
}
.footer__social-link:nth-child(3){
    background-color: #d2173f;
    border-color: #d2173f;
}
.footer__social-link:hover{
    background-color: transparent;
}
.footer__title{
    font-size: var(--h3-font-size);
    color: #fff;
    margin-top: 1rem ;
}
.footer__links{
    display: grid;
    row-gap: 0.35rem;
}
.footer__link{
font-size: var(--normal-font-size);
color: hsl(var(--hue), 8%, 75%);
transition: 0.3s;
}
.footer__link:hover{
    color: #fff;
}
.footer__copy{
    display: block;
    text-align: center;
    font-size: var(--normal-font-size);
    color: hsl(var(--hue), 8%, 75%);
    margin-top: 6rem;
}
/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width:1206px) {}

@media screen and (max-width:1024px) {}

/* For medium devices */
@media screen and (max-width:767px) {}

@media screen and (max-width:576px) {}

/* For small devices */
@media screen and (max-width:350px) {}